body{
    margin: 0;
    background-color: hsl(0, 0%, 30%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

#calculator{
    font-family: verdana,sans-serif;
    background-color: rgb(24, 23, 23);
    max-width: 500px;
    border-radius: 20px;
    overflow: hidden;
}

#display{
    width: 100%;
    background-color: hsl(0, 0%, 40%);
    border: none;
    color: #fff;
    font-size: 5rem;
    text-align: left;
    padding-left: 20px;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
    margin: 20px;
    
   
}
button{
    font-size: 5rem;
    border: none;
    border-radius: 50px;
    background-color: hsl(0, 0%, 40%);
    color: white;
    cursor: pointer;
    font-weight: bold;
    
    
}
button:hover{
    background-color: hsl(0, 0%, 50%);
}
button:active{
    background-color: hsl(0, 0%, 60%);
}

.islem{
    background-color: hsl(39, 96%, 50%);
}
.islem:hover{
    background-color: hsl(39, 96%, 60%);
}
.islem:active{
    background-color: hsl(39, 96%, 70%);
}
