body{
    margin: 0;
    background-image:url(img/newyork.jpg);
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
}

#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock{
    font-family: monospace;
    font-size: 7rem;
    color: #fff;
    text-align: center;
    backdrop-filter: blur(5px);
    width: 100%;
    background-color: rgba(128, 128, 128, 0.1);
}