*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif ,Verdana, sans-serif;
}
h1{
    font-style: italic;
    color:hsl(174, 27%, 15%);
    font-size: 2em;
}
.suggestion1{
    padding: 10px;
    margin: 10px 0;
    color: rgb(0, 0, 0);
}

.suggestion2{
    padding: 10px;
    margin: 10px 0;
    color: rgb(0, 0, 0);
    font-size: 16px;
}
body{
    background-color: rgb(109, 186, 253);
    background: linear-gradient( to right, hsl(180, 97%, 30%),
    hsl(195, 20%, 96%));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.container{
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}
.container p{
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin:20px 0;
 
}
.container span{
    font-size: 12px;
}
.container a{
    color: rgb(68, 198, 250);
    text-decoration: none;
    font-size: 14px;
    margin: 15px 0 10px 0;
       
}

.container button {
    color: rgb(255, 254, 254);
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-size: 1rem;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #51d6ff;
    
 
}


    button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

    button:hover span {
    color: white;
}

    button::before,
    button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}


    button::before {
    content: "";
    background:   rgba(255, 252, 252, 0.473);
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

    button:hover::before {
    transform: translate3d(100%, 0, 0);
}
.container button.hidden{
    background-color: transparent;
    border-color:#fff;
}
 .container form{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding : 0px 40px;
    height: 100%;
    text-align: center;
 }

.container input{
    background-color: rgb(236, 236, 236);
    border: none;
    border-radius: 15px;
    padding: 15px 20px;
    margin: 8px 0;
    width: 100%;
    outline: none;
}
.form-container{
    position: absolute;
    top:0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.log-in{
    left: 0;
    width:50%;
    z-index: 2;
}
.container.active .log-in{
    transform: translateX(100%);
}
.sign-up{
    left:0;
    width:50%;
    opacity:0;
    z-index: 1;
}

.container.active .sign-up{
    color:white;
    transform: translateX(100%);
    opacity:1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%,49.99%{
        opacity:0;
        z-index:1;
    }
    50%,100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
}
.social-icons a{
    border: 2px solid rgb(14, 150, 155);
    border-radius: 5px;
    color: rgb(23, 179, 252);
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    margin: 0 10px;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    transition: all 0.3s ease;
}
.social-icons a:hover{
    border-color: rgb(109, 186, 253);
    color: rgb(109, 186, 253);
    border-radius:50%;
   
}

.toggle-container{
    
    position:absolute;
    top:0;
    left: 50%;
    width:50%;
    height:100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container{
    
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}
.toggle{
   background-color: rgb(38, 209, 252);
    height: 100%;
    background: linear-gradient(to right,#29c2ff,#e4e3e6);
    color:#ffffff;
    position: relative;
    left:-100%;
    height: 100%;
    width: 200%;
    transform : translateX(0);
    transition: all 0.6s ease-in-out;
}
.container.active .toggle{
    transform: translateX(50%);
}
.toggle-panel{
    position: absolute;
    height: 100%;
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:0 30px;
    text-align: center;
    top: 0;
    transform: rotateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    
    transform: rotateX(-200%);
}

.container.active .toggle-left{    
    transform: rotateX( 0);
}

.toggle-right{
    color:#ffffff;
    right:0;
    transform: rotateX( 0);
}
.container.active .toggle-right{
    transform: rotateX( -200%);
}






 

